.body {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1486591978090-58e619d37fe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80")
    no-repeat;
  background-size: cover;
}
.content {
  background: rgba(0, 0, 0, 0.3);
  padding: 3rem;
}

.maincard {
  background: rgba(255, 255, 255, 0.2);
}

.card-body {
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card:hover {
  transform: scale(1.1);
}

.card-footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
}

button {
  position: fixed;
  right: 50px;
  top: 30px;
  background: #e91363;
  color: white;
  font-size: 1.3rem;
  width: 25%;
  z-index: 100;
}
