<div class="body">
  <div class="row">
    <div class="col-md-6">
      <div class="leftbox">
        <div class="content">
          <h1>LIMITLESS BOOK EVENT</h1>
          <p>Next Event Date : &nbsp;<span style="font-size: 1.3rem;"><b>{{eventDate}}</b></span> </p>
        </div>

        <br>
        <button [routerLink]="['/previous-events']" class="btn btn-block historybtn">Previous Events</button>


      </div>
    </div>

    <div class="col-md-5">
      <div class="events">

        <div class="cards" *ngIf="eventData">
          <div class="card">
            <div class="row">
              <div class="col-md-4 primarypresentor">
              </div>
              <div class="col-md-8 content">
                <h2 class="title">Primary Presenter</h2>
                <div class="details">
                  <p>Name : <b> {{eventData.primPres.name}} </b> </p>
                  <p>Topic : <b> {{eventData.primPres.topic}} </b> </p>
                  <p>Duration : <b>{{eventData.primPres.duration}}</b></p>
                </div>
              </div>
            </div>
          </div>

          <!-- 2 1-->
          <div class="card">
            <div class="row">
              <div class="col-md-4 secondarypresentor">
              </div>
              <div class="col-md-8 content">
                <h2 class="title">5 Min Presenter 1</h2>
                <div class="details">
                  <p>Name : <b> {{eventData.secondPres_1.name}} </b> </p>
                  <p>Topic : <b> {{eventData.secondPres_1.topic}} </b> </p>
                  <p>Duration : <b>{{eventData.secondPres_1.duration}}</b></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="row">
              <div class="col-md-4 secondarypresentor">
              </div>
              <div class="col-md-8 content">
                <h2 class="title">5 Min Presenter 2</h2>
                <div class="details">
                  <p>Name : <b> {{eventData.secondPres_2.name}} </b> </p>
                  <p>Topic : <b> {{eventData.secondPres_2.topic}} </b> </p>
                  <p>Duration : <b>{{eventData.secondPres_2.duration}}</b></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="row">
              <div class="col-md-4 actionable">
              </div>
              <div class="col-md-8 content">
                <h2 class="title">Actionable</h2>
                <div class="details">
                  <p>Name : <b> {{eventData.actionable.name}} </b> </p>
                  <p>Topic : <b> {{eventData.actionable.topic}} </b> </p>
                  <p>Duration : <b>{{eventData.actionable.duration}}</b></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
