.body {
  width: 100%;
  height: 150vh;
  background: url("https://assets.simpleviewinc.com/simpleview/image/fetch/c_limit,q_75,w_1200/https://assets.simpleviewinc.com/simpleview/image/upload/crm/sanmateoca/shutterstock_61104537504_8ef67d97-5056-a36a-0b9f5fc892eae781.jpg")
    no-repeat;
  background-size: cover;
}

.col-md-6 {
  padding: 50px;
}

.leftbox .content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  transition: 0.5s;
}
.leftbox .content:hover {
  background: #e91363;
}

.leftbox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}
.leftbox .content p {
  margin: 10px 0 0;
  padding: 0;
}

.events {
  position: relative;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.events .cards {
  padding: 50px;
  box-sizing: border-box;
}
.card {
  margin: 15px 0px;
  transition: 1.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card .primarypresentor {
  height: 250px;
  background: url("https://images.unsplash.com/photo-1560439513-74b037a25d84?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat;
  background-position: center;
  background-size: cover;
}

.card .secondarypresentor {
  background: url("https://images.unsplash.com/photo-1561489413-985b06da5bee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.card .actionable {
  background: url("https://images.unsplash.com/photo-1598386651573-9232cc0c2f7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.content {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 1rem;
}
.title {
  color: #e91363;
  font-weight: normal;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  section .leftbox {
    width: 100%;
    height: auto;
    /* float: none; */
    padding: 20px;
  }

  section .leftbox .content {
    padding: 20px;
  }

  section .leftbox .content h1 {
    font-size: 30px;
  }

  section .events {
    width: 100%;
    height: auto;
    background: transparent;
  }
}

.historybtn {
  padding: 10px;
  background: #e91363;
  color: white;
  font-size: 1.3rem;
}
